table{
    width: 100%;
    margin: 20px auto;
}
.style-table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styletable th,
.style-table td {
    padding: 12px 15px;
}

.style-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}
.style-table tr,.style-table th{
    padding: 10px;
}
.style-table tbody tr {
    
    border-bottom: 1px solid #dddddd;
    text-align: center;
}

.style-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.style-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
